<!DOCTYPE HTML>
<html ng-app="jobapp">

<head>
	<title>Opportunities</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	 <link rel="stylesheet" href="main.css" >
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
</head>

<body>
	<h1>Philly Job Opportunites</h1> 
	<div class="container">
	  <ul class="nav nav-tabs">
	    <li><a href="#">Philly</a></li>
	    <li><a href="#montco">MontCo</a></li>
	  </ul>
	  <div ng-controller="phillycontroller" id="content" class="container">
		  <br/>
		  <div ng-repeat="philly in phillys" class="panel panel-default">
			  <div class="panel-heading">
				  <h1><a href="{{philly.url}}">{{philly.company}}</a></h1>
				  <p>{{philly.address}}</p>
			  </div>
		  <div class="list-group">
			  <a ng-repeat="position in philly.positions" class="list-group-item" href="{{philly.url}}">
				  {{position.title}}
			  </a>
		  </div>
	  </div>
	  <div ng-controller="phillycontroller" id="content" class="container">
		  <h1 id="montco">Montgomery County</h1>
		  <hr/>
		  <div ng-repeat="montco in montcos" class="panel panel-default">
			  <div class="panel-heading">
				  <h1><a href="{{montco.url}}">{{montco.company}}</a></h1>
				  <p>{{montco.address}}</p>
			  </div>
		  <div class="list-group">
			  <a ng-repeat="position in montco.positions" class="list-group-item" href="{{montco.url}}">
				  {{position.title}}
			  </a>
		  </div>
	  </div>
	</div>
</body>

</html>
