<div ng-controller="rootController" >
  <div ng-repeat="(key, list) in opportunities" class="panel panel-default">
    <div class="panel-heading"> 
        <div ng-repeat="opportunity in list | filter : search">
            <h1><a href="{{opportunity.url}}">{{opportunity.company}}</a></h1>
            <p>{{opportunity.address}}</p>
            <div class="list-group">
                <a ng-repeat="position in opportunity.positions" class="list-group-item" href="{{opportunity.url}}">
                  {{position.title}}
                </a>
            </div>
        </div>
    </div>
  </div>
</div>
